Source: hinic
Section: kernel
Priority: extra
Maintainer: Miao Wang <shankerwangmiao@gmail.com>
Build-Depends: debhelper (>= 9), dh-dkms | dkms
Standards-Version: 3.9.4
Homepage: https://gitee.com/openeuler/kernel/tree/OLK-6.6/drivers/net/ethernet/huawei/hinic

Package: hinic-dkms
Architecture: all
Depends: ${misc:Depends}, dkms
Description: Huawei HiNIC PCI Express Linux driver
 Huawei HiNIC PCI Express Linux driver
