#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKG_VER = $(DEB_VERSION_UPSTREAM)
MOD_NAME = hinic
pkgname = $(MOD_NAME)-dkms

%:
	dh $@ --with dkms

override_dh_build-indep:
	echo "CONFIG_HINIC = m" > hinic/Kbuild
	cat hinic/Makefile >> hinic/Kbuild

override_dh_install-indep:
	cp -r $(CURDIR)/hinic $(DESTDIR)/usr/src/$(MOD_NAME)-$(PKG_VER)
	cp $(CURDIR)/debian/dkms_build $(DESTDIR)/usr/src/$(MOD_NAME)-$(PKG_VER)/

override_dh_clean:
	-rm -rf hinic/Kbuild
	dh_clean

override_dh_dkms:
	dh_dkms -p$(pkgname) -V $(PKG_VER)
